@import url('../../styles/variaveis.css');

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-primary);
}

.card-form-container {
    border: 0,5px solid #000000;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
    border-radius: 20px;
    background-color:var(--color-secondary);
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-column {
    flex-basis: 48%; /* Para garantir um pequeno espaço entre as colunas */
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    width: 300px;
    height: 50px;
    font-size: 20px;    
    background-color: var(--color-quaternary);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--color-primary);
}
