:root {
    --color-primary: #F3EEEA;
    --color-secondary: #EBE3D5;
    --color-tertiary: #B0A695;
    --color-quaternary: #776B5D;
    --color-quinta: #463f37;
    /* Adicione mais variáveis conforme necessário */
  }
  